.body-container {
  display: flex;
  justify-content: space-between;
}
.left-navbar {
  background-color: #cbd5e1;
  margin: 20px;
  padding: 20px;
}
.list-items {
  list-style-type: none;
}
.right-navbar {
  background-color: #cbd5e1;
  margin: 20px;
  padding: 20px;
}
.content {
  background-color: #f1f5f9;
  margin: 20px;
  padding: 20px;
}
.ad-box {
  font-size: 50px;
}
